<footer>

    <div class="logo">
      <span>ey</span>wes
    </div>

    <div class="footer-menu">
        <ul>
        <p>social</p>
        <li><a href="https://instagram.com/eywes" target="_blank">instagram</a></li>
        <li><a href="https://twitter.com/eyywes" target="_blank">twitter</a></li>
        <li><a href="https://www.linkedin.com/in/wesleygates/" target="_blank">linkedin</a></li>
        <li><a href="https://www.youtube.com/channel/UCWg_SeeSH2G2NJ0DAZYp__w" target="_blank">youtube</a></li>
        </ul>
    </div>
    <div class="footer-menu">
        <ul>
        <p>menu</p>
        <li><a href="/work">work</a></li>
        <li><a href="/photo">photo/video</a></li>
        <li><a href="/about">resume</a></li>
        <li><a href="/thoughts">thoughts</a></li>
        <li><a href="/contact">contact</a></li>
        </ul>
    </div>
    <div class="footer-menu">
        <ul>
        <p>contact</p>
        <li><a href="mailto:wes@eywes.com">wes@eywes.com</a></li>
        </ul>
    </div>

    <p class="copy">copyright eywes | 2021<br /><small>no tracking, sorry google | shout out to <a href="https://11ty.dev" target="_blank">11ty</a> and <a href="https://netlify.com" target="_blank">netlify</a></small></p>

</footer>