 <header>

    <div class="logo animated fadeInDown">
      <a href="/"><span>ey</span>wes</a>
    </div>

    <div class="menu animated fadeInDown">
      <nav>
        <ul>
          <li><a href="/work">work</a></li>
          <li><a href="/photo">photo/video</a></li>
          <li><a href="/about">résumé</a></li>
          <li><a href="/thoughts">thoughts</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
    </div>

    <button class="hamburger animated fadeInDown">
          <a href="javascript:void(0);" class="icon" onclick="hamBurger()">
            <span id="burgerIcon" class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </span>
          </a>
        </button>

 </header>