article {
    color: #3c3c3c;
    margin:5rem 0;
}

article h1 {
    font-size: 2.75rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top:10rem;
}

article p {
    font-family: niveau-grotesk,sans-serif;
}

@media only screen and (max-width: 1024px) {

    .journal h1 {
        margin-top: 8rem;
    }

    article h1 {
        font-size: 1.5rem;
        margin-top: 8rem;
    }
}